@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section">
    <h1>Bienvenido a RescateEmocional</h1>
    <p>Estamos aquí para acompañarte en tu viaje hacia el bienestar emocional. Encuentra apoyo, conversaciones y recursos para mejorar tu salud mental.</p>
</section>